<div class="row mr-bt-50">
	<div class="form-body form-login">

		<h2 class="center">List users</h2>
		<ul class="users">
		  <% @users.each do |user| %>
		    <li>
		    	<div class="col-sm-10">
			      	<%= gravatar_for user, size: 50 %>
			      	<%= link_to user.email, user %>
		      	</div>

		      	<div class="col-sm-2">
			      	<% if current_user.admin? && !current_user?(user) %>
						<a class="icon-remove" data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/<%= user.id %>">
							<span class="glyphicon glyphicon-remove"></span>
						</a>
					<% end %>
				</div>
		    </li>
		  <% end %>
		</ul>

		<div class="center">
			<%= will_paginate %>
		</div>
	</div>
</div>