<div class="row">
	<h1 class="center">Book Application!</h1>

	<div class="center">
		<a href="/signup" class="btn btn-success">
			<span class="glyphicon glyphicon-send"></span>
			&nbsp;Enjoy
		</a>
	</div>

	<div class="content-landing">
		<p>This application is example for Ruby on rails. Include:</p>
		<p> - Create account</p>
		<p> - Login with my account</p>
		<p> - Create the book of you</p>
		<p> - View your own book information</p>
		<p> - Actions: edit, delete</p>
		<p> - Admin has everything</p>

		<div class="thank-you">
			<img src="https://farm2.staticflickr.com/1507/24150934796_68885bec14_o.png">
		</div>
	</div>

	
</div>