<% provide(:button_text, "Create my account") %>

<div class="row mr-bt-50">
	<div class="form-body form-login">
		<h2 class="center">Signup</h2>

		<%= render 'form_user' %>

		<p class="link-signup">You have account? <%= link_to "Login", login_path %></p>
	</div>
</div>
