<div class="row mr-bt-50">
	
	<div class="form-body form-login">

		<h2 class="center">Profile</h2>
		<p class="">Username: <%= @user.username %></p>
		<p class="">Email: <%= @user.email %></p>
		<p class="">Password: ******</p>

		<div class="button-actions">
			<a href="/" class="btn btn-default">Back</a>
			<a href="/users/<%= @user.id %>/edit" class="btn btn-primary">Edit</a>
			
			<% if current_user.admin? && !current_user?(@user) %>
				<a class="icon-remove" data-confirm="You sure?" rel="nofollow" data-method="delete" href="/users/<%= user.id %>">
					<span class="glyphicon glyphicon-remove"></span>
				</a>
			<% end %>
		</div>
		
	</div>
</div>