<%= provide(:title_page, "Create a book") %>
<% provide(:button_text, "Save") %>

<div class="row">
	<div class="form-body form-login">
		<h2 class="center">Add new the book</h2>

		<%= render 'form' %>
	</div>
</div>
