@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */
header.navbar {

	box-sizing: border-box;
	background: #343434;
	padding: 10px 15px;
	display: block;
	position: inherit;
	width: 100%;


	.logo {
	    text-align: center;
	    max-width: 50px;
	    vertical-align: middle;
		display: table-cell;
	}
}

/* body */
body {
	background-color: #ddd;

	.form-body {
		background-color: #fff;
		padding: 20px;
		margin-top: 40px;

		form label {
			text-align: left !important;
		}
	}
	.center{
		text-align: center !important;
	}

	.link-signup{
		margin-top: 10px;
		text-align: center;
	}

	.mr-bt-50{
		margin-bottom: 50px;
	}

	.form-login{
		width: 500px;
		margin: 40px auto;

	}

	.text-normal{
		font-weight: normal;
	}

	#session_remember_me {
	  width: auto;
	  margin-left: 0;
	}

	.button-actions{
		margin-top: 20px;
		text-align: center;
	}


	/* forms */

	input, textarea, select, .uneditable-input {
	  border: 1px solid #bbb;
	  width: 100%;
	  margin-bottom: 15px;
	  @include box_sizing;
	}

	input {
	  height: auto !important;
	}

	input[type="submit"] {
		margin-top: 20px;
	}
}

/* footer */

footer {
	margin-top: 100px;
	position: fixed;
	bottom: 0;
	padding: 20px 30px;
	width: 100%;
	color: #6f6d6d;
	text-align: center;
	background-color: #343434;
}