<div class="container">
  <nav class="menu-page box-shadow">
    <div class="nav-wrapper">
        <a href="/" class="logo-img" title="Landing page">
            <img src="http://savvatsekmes.com/wp-content/uploads/2015/08/BMW_logo-500x500.png">
            <span class="logo-title">Book Application</span>
        </a>
        
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">

                <div class="img-avatar">
                  <% if current_user.avatar? %>
                    <%= image_tag current_user.avatar.url %>
                  <% else %>
                    <%= gravatar_for(current_user, size: 50) %>
                  <% end %>
                </div>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="/users/<%= current_user.id %>">
                    <span class="glyphicon glyphicon-user"></span>
                    <span>Profile</span>
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="<%= logout_path %>" rel="nofollow" data-method="delete" >
                    <span class="glyphicon glyphicon-log-out"></span>
                    <span>Logout</span>
                  </a>
                </li>
              </ul>
            </li>
          <% end %>
        </ul>
    </div>
  </nav>
</div>