<!-- top button actions in main body -->
<div class="button-actions top-buttons">
	<a href="<%= books_new_path %>" class="btn btn-info btn-sm">
      <span class="glyphicon glyphicon-plus"></span>&nbsp;Add new
    </a>

    <a href="/books/drop" class="btn btn-danger btn-sm">
      <span class="glyphicon glyphicon-remove"></span>&nbsp;Remove all
    </a>
</div>